<h1>Add a console</h1>
<p>Add a console here:</p>
<form action="/view_all_games_by_console" method="post">
  <label for="console-name">Console name</label>
  <input id="console-name" name="console-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
