<h1>Add a Contact</h1>
<form action="/contact/created" method="post">
  <label for="contact-name">Contact Name</label>
  <input id="contact-name" name="contact-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
