@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a new game:</h1>
<form action = "/all_games_by_title" method ="post">
  <label for="new-game">Game Title:</label>
  <input id="new-game" name= "new-game" type ="number">
  <button type="submit">Submit</button>
</form>
