@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a new game to @Model["gameConsole"].GetConsoleName()</h1>
<form action="/view_all_games_by_title" method="post">
  <input id='consoleName-id' name='consoleName-id' type='hidden' value='@Model["gameConsole"].GetId()'>
  <label for='new-game'>Add a game title</label>
  <input id='new-game' name='new-game' type='text'>
  <button type='submit'>Add task</button>
</form>
