@{
  Layout="Shared/_Layout.cshtml";
}

<h1> Welcome to your game directory</h1>

<p><a href="/games/add">Add a new game</a></p>
<p><a href="/all_games_by_title">Search by game title</a></p>
<p><a href="">Search by system</a></p>
