@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Address Book</h1>

@foreach (var contact in Model)
{
  <h3><a href='/contact/@contact.GetId()'>@contact.GetName()</a></h3>
}

<p><a href="/contact/new">Add a contact</a></p>
