@{
  Layout="Shared/_Layout.cshtml";
}

<h1> Welcome to your game directory</h1>

<p><a href="/console/add">Add a game console</a></p>
<p><a href="/view_all_games_by_title">Search by game title</a></p>
<p><a href="/gameConsoles">Search by game console</a></p>
