@{
  Layout="Shared/_Layout.cshtml";
}

<h1>All Games by Title</h1>
<ul>
  @foreach (var game in Model)
  {
    <li><a href="/games/@game.GetId()">@Model.GetName()</a></li>
  }
</ul>
<p><a href="/games/add">Add another game</a></p>
